USE [master]
GO
/****** Object:  Database [LMS_Project]    Script Date: 18/05/2026 10:23:30 SA ******/
CREATE DATABASE [LMS_Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LMS_Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LMS_Project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LMS_Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LMS_Project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LMS_Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LMS_Project]
GO
/****** Object:  Table [dbo].[g10categories]    Script Date: 18/05/2026 10:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[g10categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[parent_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[g10coupons]    Script Date: 18/05/2026 10:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[g10coupons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](20) NOT NULL,
	[discount_val] [int] NOT NULL,
	[expiry_date] [datetime] NOT NULL,
	[usage_limit] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[g10course_progress]    Script Date: 18/05/2026 10:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[g10course_progress](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[lesson_id] [int] NOT NULL,
	[is_completed] [bit] NULL,
	[completed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[g10courses]    Script Date: 18/05/2026 10:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[g10courses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[instructor_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[g10enrollments]    Script Date: 18/05/2026 10:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[g10enrollments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[enrolled_at] [datetime] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[g10events]    Script Date: 18/05/2026 10:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[g10events](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[event_date] [date] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[g10lessons]    Script Date: 18/05/2026 10:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[g10lessons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[section_id] [int] NOT NULL,
	[lesson_type] [varchar](10) NULL,
	[url_content] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[g10notifications]    Script Date: 18/05/2026 10:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[g10notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[is_read] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[g10options]    Script Date: 18/05/2026 10:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[g10options](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question_id] [int] NOT NULL,
	[option_text] [nvarchar](max) NOT NULL,
	[is_correct] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[g10orders]    Script Date: 18/05/2026 10:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[g10orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [nvarchar](100) NULL,
	[course_title] [nvarchar](255) NULL,
	[price] [int] NOT NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[g10payments]    Script Date: 18/05/2026 10:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[g10payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[payment_method] [nvarchar](50) NOT NULL,
	[transaction_id] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[g10questions]    Script Date: 18/05/2026 10:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[g10questions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quiz_id] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[point] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[g10quiz_results]    Script Date: 18/05/2026 10:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[g10quiz_results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[quiz_id] [int] NOT NULL,
	[total_score] [float] NOT NULL,
	[status] [varchar](10) NULL,
	[attempt_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[g10quizzes]    Script Date: 18/05/2026 10:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[g10quizzes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NULL,
	[time_limit] [int] NOT NULL,
	[pass_score] [float] NOT NULL,
	[difficulty] [nvarchar](20) NULL,
	[title] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[g10reviews]    Script Date: 18/05/2026 10:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[g10reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[g10sections]    Script Date: 18/05/2026 10:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[g10sections](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[order_index] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[g10users]    Script Date: 18/05/2026 10:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[g10users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](20) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[g10categories] ON 

INSERT [dbo].[g10categories] ([id], [name], [parent_id]) VALUES (1, N'Lập trình Web', NULL)
INSERT [dbo].[g10categories] ([id], [name], [parent_id]) VALUES (2, N'Cơ sở dữ liệu', NULL)
SET IDENTITY_INSERT [dbo].[g10categories] OFF
GO
SET IDENTITY_INSERT [dbo].[g10coupons] ON 

INSERT [dbo].[g10coupons] ([id], [code], [discount_val], [expiry_date], [usage_limit]) VALUES (21, N'nhom10', 99, CAST(N'2026-11-22T02:22:00.000' AS DateTime), 10)
INSERT [dbo].[g10coupons] ([id], [code], [discount_val], [expiry_date], [usage_limit]) VALUES (22, N'NEON90', 90, CAST(N'2026-12-31T00:00:00.000' AS DateTime), 10)
INSERT [dbo].[g10coupons] ([id], [code], [discount_val], [expiry_date], [usage_limit]) VALUES (23, N'G10VIP', 70, CAST(N'2026-12-31T00:00:00.000' AS DateTime), 20)
SET IDENTITY_INSERT [dbo].[g10coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[g10course_progress] ON 

INSERT [dbo].[g10course_progress] ([id], [user_id], [lesson_id], [is_completed], [completed_at]) VALUES (1, 3, 1, 1, CAST(N'2026-04-14T15:20:06.417' AS DateTime))
SET IDENTITY_INSERT [dbo].[g10course_progress] OFF
GO
SET IDENTITY_INSERT [dbo].[g10courses] ON 

INSERT [dbo].[g10courses] ([id], [category_id], [instructor_id], [title], [price], [status]) VALUES (1, 1, 2, N'L?p trình Node.js và SQL Server chuyên sâuuuu', CAST(500000.00 AS Decimal(10, 2)), N'published')
INSERT [dbo].[g10courses] ([id], [category_id], [instructor_id], [title], [price], [status]) VALUES (2, 2, 2, N'Quản trị Hệ quản trị CSDL MySQL', CAST(450000.00 AS Decimal(10, 2)), N'published')
INSERT [dbo].[g10courses] ([id], [category_id], [instructor_id], [title], [price], [status]) VALUES (5, 1, 1, N'Python', CAST(229999.00 AS Decimal(10, 2)), N'published')
SET IDENTITY_INSERT [dbo].[g10courses] OFF
GO
SET IDENTITY_INSERT [dbo].[g10enrollments] ON 

INSERT [dbo].[g10enrollments] ([id], [user_id], [course_id], [enrolled_at], [status]) VALUES (1, 3, 1, CAST(N'2026-04-14T15:20:06.417' AS DateTime), N'active')
SET IDENTITY_INSERT [dbo].[g10enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[g10events] ON 

INSERT [dbo].[g10events] ([id], [title], [event_date], [status]) VALUES (1, N'Cyber Code War 2026 - Vòng loạii', CAST(N'2026-05-25' AS Date), N'GHI DANH')
INSERT [dbo].[g10events] ([id], [title], [event_date], [status]) VALUES (2, N'Seminar: AI trong kỷ nguyên mới', CAST(N'2026-05-30' AS Date), N'LIVE NOW')
INSERT [dbo].[g10events] ([id], [title], [event_date], [status]) VALUES (3, N'Workshop: Làm chủ Python Flask', CAST(N'2026-06-15' AS Date), N'GHI DANH')
SET IDENTITY_INSERT [dbo].[g10events] OFF
GO
SET IDENTITY_INSERT [dbo].[g10lessons] ON 

INSERT [dbo].[g10lessons] ([id], [section_id], [lesson_type], [url_content]) VALUES (1, 1, N'video', N'https://youtu.be/lesson1')
INSERT [dbo].[g10lessons] ([id], [section_id], [lesson_type], [url_content]) VALUES (2, 1, N'pdf', N'https://drive.com/tailieu1.pdf')
INSERT [dbo].[g10lessons] ([id], [section_id], [lesson_type], [url_content]) VALUES (3, 2, N'video', N'https://youtu.be/lesson2')
SET IDENTITY_INSERT [dbo].[g10lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[g10notifications] ON 

INSERT [dbo].[g10notifications] ([id], [user_id], [title], [message], [is_read]) VALUES (1, 3, N'Thanh toán thành công', N'Bạn đã mở khóa khóa học Node.js.', 0)
SET IDENTITY_INSERT [dbo].[g10notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[g10options] ON 

INSERT [dbo].[g10options] ([id], [question_id], [option_text], [is_correct]) VALUES (33, 11, N'<h1>', 1)
INSERT [dbo].[g10options] ([id], [question_id], [option_text], [is_correct]) VALUES (34, 11, N'<h6>', 0)
INSERT [dbo].[g10options] ([id], [question_id], [option_text], [is_correct]) VALUES (35, 11, N'<head>', 0)
SET IDENTITY_INSERT [dbo].[g10options] OFF
GO
SET IDENTITY_INSERT [dbo].[g10orders] ON 

INSERT [dbo].[g10orders] ([id], [customer_name], [course_title], [price], [status]) VALUES (1, N'admin', N'Lập trình Flask nâng cao', 500000, N'confirmed')
INSERT [dbo].[g10orders] ([id], [customer_name], [course_title], [price], [status]) VALUES (2, N'admin', N'Python', 229999, N'pending')
INSERT [dbo].[g10orders] ([id], [customer_name], [course_title], [price], [status]) VALUES (3, N'hocsinh', N'Qu?n tr? H? qu?n tr? CSDL MySQL', 450000, N'completed')
SET IDENTITY_INSERT [dbo].[g10orders] OFF
GO
SET IDENTITY_INSERT [dbo].[g10payments] ON 

INSERT [dbo].[g10payments] ([id], [user_id], [course_id], [amount], [payment_method], [transaction_id]) VALUES (1, 3, 1, CAST(500000.00 AS Decimal(10, 2)), N'Chuyển khoản Ngân hàng', N'TXN123456789')
INSERT [dbo].[g10payments] ([id], [user_id], [course_id], [amount], [payment_method], [transaction_id]) VALUES (3, 1, 2, CAST(450000.00 AS Decimal(10, 2)), N'Banking', N'LMS_FIX_99')
SET IDENTITY_INSERT [dbo].[g10payments] OFF
GO
SET IDENTITY_INSERT [dbo].[g10questions] ON 

INSERT [dbo].[g10questions] ([id], [quiz_id], [content], [point]) VALUES (11, 1, N'Thẻ nào dùng để tạo tiêu đề lớn nhất trong HTML?', 2)
INSERT [dbo].[g10questions] ([id], [quiz_id], [content], [point]) VALUES (12, 1, N'Thẻ nào dùng để tạo một đường liên kết (Hyperlink)?', 2)
INSERT [dbo].[g10questions] ([id], [quiz_id], [content], [point]) VALUES (13, 1, N'Thẻ nào dùng để chèn một hình ảnh vào trang web?', 2)
SET IDENTITY_INSERT [dbo].[g10questions] OFF
GO
SET IDENTITY_INSERT [dbo].[g10quiz_results] ON 

INSERT [dbo].[g10quiz_results] ([id], [user_id], [quiz_id], [total_score], [status], [attempt_count]) VALUES (1, 3, 1, 10, N'passed', 1)
SET IDENTITY_INSERT [dbo].[g10quiz_results] OFF
GO
SET IDENTITY_INSERT [dbo].[g10quizzes] ON 

INSERT [dbo].[g10quizzes] ([id], [course_id], [time_limit], [pass_score], [difficulty], [title]) VALUES (1, 1, 15, 5, N'easy', N'Bài luyện tập cơ bản')
INSERT [dbo].[g10quizzes] ([id], [course_id], [time_limit], [pass_score], [difficulty], [title]) VALUES (2, 1, 15, 4.5, N'easy', N'Bài luyện tập cơ bản')
INSERT [dbo].[g10quizzes] ([id], [course_id], [time_limit], [pass_score], [difficulty], [title]) VALUES (28, NULL, 25, 50, N'hard', N'Bài nâng cao')
SET IDENTITY_INSERT [dbo].[g10quizzes] OFF
GO
SET IDENTITY_INSERT [dbo].[g10reviews] ON 

INSERT [dbo].[g10reviews] ([id], [course_id], [user_id], [rating], [comment], [created_at]) VALUES (1, 1, 3, 5, N'Khóa học thực tế, dễ hiểu!', CAST(N'2026-04-14T15:20:06.417' AS DateTime))
SET IDENTITY_INSERT [dbo].[g10reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[g10sections] ON 

INSERT [dbo].[g10sections] ([id], [course_id], [title], [order_index]) VALUES (1, 1, N'Chương 1: Cấu trúc dự án Node.js', 1)
INSERT [dbo].[g10sections] ([id], [course_id], [title], [order_index]) VALUES (2, 1, N'Chương 2: Kết nối SQL Server', 2)
SET IDENTITY_INSERT [dbo].[g10sections] OFF
GO
SET IDENTITY_INSERT [dbo].[g10users] ON 

INSERT [dbo].[g10users] ([id], [username], [password], [role], [is_active]) VALUES (1, N'admin', N'123456', N'admin', 1)
INSERT [dbo].[g10users] ([id], [username], [password], [role], [is_active]) VALUES (2, N'giaovien', N'123456', N'instructor', 1)
INSERT [dbo].[g10users] ([id], [username], [password], [role], [is_active]) VALUES (3, N'hocsinh', N'123456', N'student', 1)
SET IDENTITY_INSERT [dbo].[g10users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__coupons__357D4CF9A572DF99]    Script Date: 18/05/2026 10:23:30 SA ******/
ALTER TABLE [dbo].[g10coupons] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__payments__85C600AE0A546478]    Script Date: 18/05/2026 10:23:30 SA ******/
ALTER TABLE [dbo].[g10payments] ADD UNIQUE NONCLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572F03CCCE0]    Script Date: 18/05/2026 10:23:30 SA ******/
ALTER TABLE [dbo].[g10users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[g10course_progress] ADD  DEFAULT ((0)) FOR [is_completed]
GO
ALTER TABLE [dbo].[g10enrollments] ADD  DEFAULT (getdate()) FOR [enrolled_at]
GO
ALTER TABLE [dbo].[g10notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[g10quiz_results] ADD  DEFAULT ((1)) FOR [attempt_count]
GO
ALTER TABLE [dbo].[g10reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[g10users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[g10categories]  WITH CHECK ADD  CONSTRAINT [FK_Category_Parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[g10categories] ([id])
GO
ALTER TABLE [dbo].[g10categories] CHECK CONSTRAINT [FK_Category_Parent]
GO
ALTER TABLE [dbo].[g10course_progress]  WITH CHECK ADD  CONSTRAINT [FK_Progress_Lesson] FOREIGN KEY([lesson_id])
REFERENCES [dbo].[g10lessons] ([id])
GO
ALTER TABLE [dbo].[g10course_progress] CHECK CONSTRAINT [FK_Progress_Lesson]
GO
ALTER TABLE [dbo].[g10course_progress]  WITH CHECK ADD  CONSTRAINT [FK_Progress_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[g10users] ([id])
GO
ALTER TABLE [dbo].[g10course_progress] CHECK CONSTRAINT [FK_Progress_User]
GO
ALTER TABLE [dbo].[g10courses]  WITH CHECK ADD  CONSTRAINT [FK_Course_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[g10categories] ([id])
GO
ALTER TABLE [dbo].[g10courses] CHECK CONSTRAINT [FK_Course_Category]
GO
ALTER TABLE [dbo].[g10courses]  WITH CHECK ADD  CONSTRAINT [FK_Course_Instructor] FOREIGN KEY([instructor_id])
REFERENCES [dbo].[g10users] ([id])
GO
ALTER TABLE [dbo].[g10courses] CHECK CONSTRAINT [FK_Course_Instructor]
GO
ALTER TABLE [dbo].[g10enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enroll_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[g10courses] ([id])
GO
ALTER TABLE [dbo].[g10enrollments] CHECK CONSTRAINT [FK_Enroll_Course]
GO
ALTER TABLE [dbo].[g10enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enroll_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[g10users] ([id])
GO
ALTER TABLE [dbo].[g10enrollments] CHECK CONSTRAINT [FK_Enroll_User]
GO
ALTER TABLE [dbo].[g10lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Section] FOREIGN KEY([section_id])
REFERENCES [dbo].[g10sections] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[g10lessons] CHECK CONSTRAINT [FK_Lesson_Section]
GO
ALTER TABLE [dbo].[g10notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notify_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[g10users] ([id])
GO
ALTER TABLE [dbo].[g10notifications] CHECK CONSTRAINT [FK_Notify_User]
GO
ALTER TABLE [dbo].[g10options]  WITH CHECK ADD  CONSTRAINT [FK_Option_Question] FOREIGN KEY([question_id])
REFERENCES [dbo].[g10questions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[g10options] CHECK CONSTRAINT [FK_Option_Question]
GO
ALTER TABLE [dbo].[g10payments]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[g10courses] ([id])
GO
ALTER TABLE [dbo].[g10payments] CHECK CONSTRAINT [FK_Payment_Course]
GO
ALTER TABLE [dbo].[g10payments]  WITH CHECK ADD  CONSTRAINT [FK_Payment_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[g10users] ([id])
GO
ALTER TABLE [dbo].[g10payments] CHECK CONSTRAINT [FK_Payment_User]
GO
ALTER TABLE [dbo].[g10questions]  WITH CHECK ADD  CONSTRAINT [FK_Question_Quiz] FOREIGN KEY([quiz_id])
REFERENCES [dbo].[g10quizzes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[g10questions] CHECK CONSTRAINT [FK_Question_Quiz]
GO
ALTER TABLE [dbo].[g10quiz_results]  WITH CHECK ADD  CONSTRAINT [FK_Result_Quiz] FOREIGN KEY([quiz_id])
REFERENCES [dbo].[g10quizzes] ([id])
GO
ALTER TABLE [dbo].[g10quiz_results] CHECK CONSTRAINT [FK_Result_Quiz]
GO
ALTER TABLE [dbo].[g10quiz_results]  WITH CHECK ADD  CONSTRAINT [FK_Result_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[g10users] ([id])
GO
ALTER TABLE [dbo].[g10quiz_results] CHECK CONSTRAINT [FK_Result_User]
GO
ALTER TABLE [dbo].[g10quizzes]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[g10courses] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[g10quizzes] CHECK CONSTRAINT [FK_Quiz_Course]
GO
ALTER TABLE [dbo].[g10reviews]  WITH CHECK ADD  CONSTRAINT [FK_Review_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[g10courses] ([id])
GO
ALTER TABLE [dbo].[g10reviews] CHECK CONSTRAINT [FK_Review_Course]
GO
ALTER TABLE [dbo].[g10reviews]  WITH CHECK ADD  CONSTRAINT [FK_Review_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[g10users] ([id])
GO
ALTER TABLE [dbo].[g10reviews] CHECK CONSTRAINT [FK_Review_User]
GO
ALTER TABLE [dbo].[g10sections]  WITH CHECK ADD  CONSTRAINT [FK_Section_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[g10courses] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[g10sections] CHECK CONSTRAINT [FK_Section_Course]
GO
ALTER TABLE [dbo].[g10courses]  WITH CHECK ADD CHECK  (([status]='published' OR [status]='pending' OR [status]='draft'))
GO
ALTER TABLE [dbo].[g10enrollments]  WITH CHECK ADD CHECK  (([status]='refunded' OR [status]='expired' OR [status]='active'))
GO
ALTER TABLE [dbo].[g10lessons]  WITH CHECK ADD CHECK  (([lesson_type]='text' OR [lesson_type]='pdf' OR [lesson_type]='video'))
GO
ALTER TABLE [dbo].[g10quiz_results]  WITH CHECK ADD CHECK  (([status]='failed' OR [status]='passed'))
GO
ALTER TABLE [dbo].[g10reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[g10users]  WITH CHECK ADD CHECK  (([role]='student' OR [role]='instructor' OR [role]='admin'))
GO
USE [master]
GO
